.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}
.content {
  height: 100vh;
}

/* ant design */

.icon-change {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
}
.anticon svg {
  font-size: 20px;
  cursor: pointer;
}
.active-icon {
  color: blue;
}
.inactive-icon {
  color: grey;
}
